.git
.idea
.dart_tool
build
backend/uploads
resnet_dataset
resnet_env
vehicle_damage_dataset
yolo_env
runs/*
!runs/detect/
!runs/detect/train14/
!runs/detect/train14/weights/
!runs/detect/train14/weights/best.pt
*.zip
*.pdf
*.pt
!runs/detect/train14/weights/best.pt
